# Dependencies
node_modules/

# Build
dist/
build/
.next/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
backend/prisma/dev.db

# Coverage / tests
coverage/
*.tsbuildinfo
